td {	vertical-align: top;}
.image {	padding-right: 15px;}
th {	width: 160px;
	text-align: right;
	padding-right: 10px;}
.update-whs {	display: block;
	margin: 0 0 0 10px;
	text-decoration: underline;
	cursor: pointer;}
