.product-images div {	display: inline-block;
	margin: 5px;
	padding: 5px;
	border: 1px dashed #ff7000;
	position: relative;}
.product-images div img {
	cursor: pointer;
}
.product-images div img.remove {
	position: absolute;
	top: 10px;
	left: 5px;
	cursor: pointer;
	opacity: 0.8;
}
.product-images div:hover img.remove {
	opacity: 1;
}
.drag {
    color: #fff;
    font-size: 18px;
    text-align: center;

    width: 800px;
    margin: 0 auto 20px auto;

    background: #ff7000;
    border: 1px solid #ccc;

    border-radius: 2px;
    cursor: pointer;
	-khtml-user-drag: element;
}
.drag h3 {
    color: #fff;
}
.drag.hover {
    border-color: #ff7000;
    border-style: dashed;
    background: #fff;
}
.drag:hover {
    background: #fff;
    border-color: #ff7000;
    border-style: dashed;
}
.drag:hover h3, .drag.hover h3, .drag:hover, .drag.hover {	color: #555;
}
.pbar {
	display: none;
	width: 250px;
	border: 1px solid #e5e5e5;
	height: 40px;
	background: #f5f5f5;
}
.pbar img {
	width: 1px;
	height: 40px;
	background: url(/images/progress.gif)
}
.fileButton {
    overflow: hidden;
    position: relative;
    padding: 10px 0;
    width: 100%;
}
.fileButton input {
	opacity: 0;
    font-size: 142px;
    height: 80px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.drag h3, .drag h4, .drag h5 {	border: 0;
	padding: 3px 0;
	margin: 0;
}
.drag h4 {
	padding: 0 0 3px 0;
}