.profile_popup {
	width: 600px;
	padding: 20px 20px 30px 20px;
}
.profile_popup h1 {
	color: #494948;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #ccc;
	margin: 0 0 10px 0;
}
.user_table select {
	width: 100% !important;
}
.user_table td {
	vertical-align: middle !important;
}
.user_table td.name {
	width: 100px;
	text-align: right;
}