.popup-wrap {			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
	z-index: 1000;
	transform: translateZ(0);
	display: none;
	overflow-y: auto;
}
.popup {
	position: absolute;
	top: 50%;
	left: 50%;
   	background: #fff;
	border: 10px solid rgba(0,0,0,.3);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 0px;
	z-index: 1000;
	max-width: 900px;
transform-origin: center center 0px;
-webkit-transform-origin: center center 0px;
-webkit-transition: all 0.2s ease 0s;
transition: all 0.2s ease 0s;
}
.popup.no_animation {transform-origin: 50% 50% 0;
-webkit-transform-origin: 50% 50% 0;
-webkit-transition: all 0s ease 0s;
transition: all 0s ease 0s;
}
.popup img.close {
	position: absolute;
	top: -20px;
	right: -20px;
	cursor: pointer;
	padding: 5px;
	background: #efefef;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.coupon_alert {	width: 350px;
	margin-left: -175px;}
.register_alert  {	margin-top: -300px;}
.login_alert {	margin-top: -180px;}